
Assignment 2/datasets/cifar-10-batches-py/batches.meta
Assignment 2/datasets/cifar-10-batches-py/data_batch_1
Assignment 2/datasets/cifar-10-batches-py/data_batch_2
Assignment 2/datasets/cifar-10-batches-py/data_batch_3
Assignment 2/datasets/cifar-10-batches-py/data_batch_4
Assignment 2/datasets/cifar-10-batches-py/data_batch_5
Assignment 2/datasets/cifar-10-batches-py/readme.html
Assignment 2/datasets/cifar-10-batches-py/test_batch
Assignment 2/datasets/cifar-10-python.tar.gz
Assignment 3/Exercise_3.ipynb
Assignment 3/Images/Training accuracy aug.png
Assignment 3/Images/Training accuracy.png
Assignment 3/Images/Training IoU.png
Assignment 3/Images/Training IoU aug.PNG
Assignment 3/Images/Training loss aug.PNG
Assignment 3/Images/Validation accuracy aug.PNG
Assignment 3/Images/Training loss.png
Assignment 3/Images/Validation accuracy.png
Assignment 3/U-Net - Convolutional Networks for Biomedical Image Segmentation.pdf
Assignment 3/lightning_logs 2/version_1/hparams.yaml
Assignment 3/lightning_logs 2/version_1/events.out.tfevents.1667690978.dws-student-01.248689.1
Assignment 3/lightning_logs 2/version_1/events.out.tfevents.1667668017.dws-student-01.248689.0
Assignment 3/lightning_logs 2/version_0/events.out.tfevents.1667667897.dws-student-01.237027.0
Assignment 3/lightning_logs 2/version_0/events.out.tfevents.1667662449.dws-student-01.4157616.0
Assignment 3/lightning_logs 1/version_2/hparams.yaml
Assignment 3/lightning_logs 1/version_2/events.out.tfevents.1667245555.dws-student-01.3087398.1
Assignment 3/lightning_logs 1/version_2/events.out.tfevents.1667225249.dws-student-01.3087398.0
Assignment 3/lightning_logs 1/version_1/hparams.yaml
Assignment 3/lightning_logs 1/version_1/events.out.tfevents.1667223832.dws-student-01.3052509.0
Assignment 3/lightning_logs 1/version_0/events.out.tfevents.1667223584.dws-student-01.3040382.0
Assignment 3/Images/Validation IoU.png
Assignment 3/Images/Validation IoU aug.PNG
